language: scala
jdk:
  - oraclejdk8

scala:
   - 2.11.7

env:
   - SBT_OPTS="-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=256M -XX:MaxPermSize=512M -Xms2048M -Xmx4096M -Xss8M"

before_script:
   - ulimit -u 514029

#script:
#  - sbt clean coverage test &&
#    sbt coverageAggregate
#after_success:
#  - sbt coveralls